body {
	background-color: #eee;
}

.container {
	padding-top: 5%;
	background-color: #fff;
	margin: auto;
	text-align: center;
}

#display {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: orchid;
	width: 160px;
	margin: auto;
}

#red, #yellow, #blue, #green {
	margin: auto;
	width: 60px;
	height: 40px;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}

#yellow {
	background-color: yellow;
}

#msg {
	padding-top: 5%;
}

#audio {
	display: none;
}